[Desktop Entry]
Version=1.0
Type=Application
Name=Komodo Wallet
Exec=./UidexWallet
Icon=./UidexWallet.png
Categories=Office;Finance;
Terminal=false
StartupNotify=true
